body{
    background-color: #eae2b7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.carousel img{  
    height: 30vh;
    object-fit: cover;
}

.social-icons img{
    height: 3rem;
}

.navbar-brand img{
    height: 3rem;
}

header, footer{
    min-height: 8vh;
}

#containerPast img , #container img{
    height: 22vh;
}

.contenicons{
    width: 12rem;
}


.contentfoot{
    height: 5rem;
}

.header, .footer{
    background-color: #323031;
}

.textcolor{
    color: #f6f5f2;
}


.refcontent{
    gap: 2rem;
    padding-right: 2rem;
}

.headerimag{
    padding-left: 1rem;
}

.bordersearchbar{
    border: 2px solid;
    background-color: #323031;
    color: #f6f5f2;
}

.formsearchb{
    justify-content: space-between;
    align-items: center;
}

.btnclr{
    background-color: #688db9;
    color: #f6f5f2;
}

.textcardcont{
    background-color: #323031;
    color: #f6f5f2;
}

.cartcont{
    padding-bottom: 1rem;
}

.formcont{
    text-align: center;
}

.conttable{
    background-color: #323031;
    color: #f6f5f2;
}